# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
queue-engine/queue-engine
loadtest/loadtest

# Java
backend/target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml
*.swp

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
oci_api_key.pem
*.pem
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars

# Docker
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Build
target/
